@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/fundo.png);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil-sup{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-left: 225px;
}

#foto{
    width: 250px;
    height: 260px;
    border-radius: 50%;
    border: solid white 1px;
}

.perfil-social{
    display: flex;
    flex-direction: column;
}

.perfil-social > a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.perfil-disc{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.perfil-sub{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linha{
    display: flex;
    justify-content: center;
}

#apresentação{
    font-style: normal;
    font-size: 20px;
}


main{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.curso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curso img{
    width: 200px;
    height: 150px;
}

.linguagens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

#barra{
    width: 300px;
}

.diretorio{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logogit{
   width:50px;
   height: 50px;
}

#linha{
    display: flex;
    align-items: center;
}

.diretorio > a{
    text-decoration: none;
    color: white;
}

.linguagens-xp{
    display: flex;
    align-items: center;
}

.linguagens-xp > img{
    width: 50px;
}

.coluna{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
