@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

:root{
    --counter: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/fundo.png);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil-sup{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-left: 225px;
}

#foto{
    width: 250px;
    height: 260px;
    border-radius: 50%;
    border: solid white 1px;
}

.perfil-social{
    display: flex;
    flex-direction: column;
}

.perfil-social > a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.perfil-disc{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.perfil-sub{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linha{
    display: flex;
    justify-content: center;
}

#apresentação{
    font-style: normal;
    font-size: 20px;
}


main{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.curso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curso img{
    width: 200px;
    height: 150px;
}

h1{
    font-size: 26px;
}

h3{
    font-size: 14px;

}

#rep{
    font-style: italic;
    text-decoration: underline;
}

.linguagens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.linguagens-xp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.barra-xp{
    width: 250px;
    height: 20px;
}

.barra{
    height: 100%;
    width: 95%;
    border-radius: 12px;
    background-color: #bb1f00;
    animation-name: barra;
    animation-duration: 3s;
}

@keyframes barra{
    0%{
        width:0%;
    }
    95%{
        width: 95%;
    }
}

.barra-java{
    height: 100%;
    width: 50%;
    border-radius: 12px;
    background-color: #bb1f00;
    animation-name: barra-java;
    animation-duration: 3s;
}

@keyframes barra-java{
    0%{
        width:0%;
    }
    50%{
        width: 50%;
    }
}

#porcentagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.diretorio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#logogit{
   width:50px;
   height: 50px;
}

#linha{
    display: flex;
    align-items: center;
}

.diretorio > a{
    text-decoration: none;
    color: white;
}

.linguagens-xp{
    display: flex;
    align-items: center;
}

.linguagens-xp > img{
    width: 50px;
}

.coluna{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
