@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
 

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/fundo.png);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.curso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curso img{
    width: 300px;
    height: 200px;
}

.linguagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.linguagens-icones{
    width: 200px;
}

#barra{
    width: 500px;
}

.git{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

#logogit{
    position: absolute;
    left: 590px;
    
}

#linha{
    display: flex;
    align-items: center;
    justify-content: center;
}

.diretorio > a{
    text-decoration: none;
    color: white;
}

.html{
    display: flex;
    align-items: center;
}

.c{
    display: flex;
    align-items: center;
}

.c > img{
    width: 100px;
}

.java{
    display: flex;
    align-items: center;
}

.java > img{
    width: 150px;
}

.cloud{
    display: flex;
    align-items: center;
}

.cloud > img{
    width: 100px;
}

nav{
    position: absolute;
    top: 5px;
    left: 0;
}

nav > a > img{
    width: 50px;
    height: 50px;
}